<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="index, follow, noodp">
		<meta name="googlebot" content="index, follow">
		<meta name="google" content="notranslate">
		<meta name="format-detection" content="telephone=no">
		<meta name="author" content="VitaliyZt">
<!--		<link rel="stylesheet" type="text/css" href='/css/libs.min.css')>-->
<!--		<link rel="stylesheet" type="text/css" href='/css/styles.css')>-->
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <link href="static/css/libs.min.css" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet">

		<title>Messenger</title>
	</head>

	<body>
<div class="wrapper">
    <div class="users-box">
        <ul class="users">
            <li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status tgico-check-sent"></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status tgico-check-read"></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li><li>
                <div class="user">
                    <div class="avatar user__avatar">
                        <img src="static/img/avatar.jpg" alt="">
                    </div>
                    <div class="user__main">
                        <p class="user__title">
                            <span class="one-line user__title-text">Max</span>
                            <span class="one-line user__title-info">
                                <span class="user__status "></span>
                                <span class="user__time">10:50</span>
                            </span>
                        </p>
                        <p class="user__subtitle">
                            <span class="one-line user__subtitle-text">какой то текст</span>
<!--                            <span class="user__subtitle-counter">15</span>-->
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="chat">
         <div class="top-panel">

             <button class="tgico-back top-panel__back"></button>

             <div class="tp-user">
                 <div class="avatar tp-user__avatar">
                     <img src="static/img/avatar.jpg" alt="">
                 </div>
                 <div class="tp-user__main">
                     <div class="one-line tp-user__title">Имя пользователя</div>
                     <div class="one-line tp-user__subtitle">был недавно</div>
                 </div>
             </div>
         </div>
        <div class="messages">
            <div class="messages__list-box">
                <ul class="messages__list">
                    <li class="messages__item">
                        <p class="message">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            <span class="message__time">16:23</span>
                        </p>
                    </li>
                    <li class="messages__item _answer">
                        <p class="message">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            <span class="message__time">16:23</span></p>
                    </li>
                    <li class="messages__item">
                        <p class="message">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            <span class="message__time">16:23</span></p>
                    </li>
                    <li class="messages__item _answer">
                        <p class="message">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            <span class="message__time">16:23</span></p>
                    </li>



                </ul>
            </div>
            <form class="messages-form">
                <div class="messages-form__field-box">
                    <textarea class="messages-form__field" placeholder="Сообщение" required></textarea>
                </div>
                <button type="submit" class="tgico-send messages-form__submit"></button>
            </form>
        </div>

    </div>
</div>

<div class="tg-icons" style="display: none;">

    <div class="tgico-check-sent"></div>
    <div class="tgico-check-read"></div>
    <div class="tgico-activesessions"></div>
    <div class="tgico-add"></div>
    <div class="tgico-addmember"></div>
    <div class="tgico-adduser"></div>
    <div class="tgico-admin"></div>
    <div class="tgico-animals"></div>
    <div class="tgico-archive"></div>
    <div class="tgico-attach"></div>
    <div class="tgico-avatar_archivedchats"></div>
    <div class="tgico-avatar_deletedaccount"></div>
    <div class="tgico-avatar_savedmessages"></div>
    <div class="tgico-back"></div>
    <div class="tgico-camera"></div>
    <div class="tgico-cameraadd"></div>
    <div class="tgico-car"></div>
    <div class="tgico-channel"></div>
    <div class="tgico-channelviews"></div>
    <div class="tgico-chatsplaceholder"></div>
    <div class="tgico-check"></div>
    <div class="tgico-checkbox"></div>
    <div class="tgico-checkboxblock"></div>
    <div class="tgico-checkboxempty"></div>
    <div class="tgico-checkboxon"></div>
    <div class="tgico-close"></div>
    <div class="tgico-copy"></div>
    <div class="tgico-data"></div>
    <div class="tgico-delete_filled"></div>
    <div class="tgico-delete"></div>
    <div class="tgico-deleteuser"></div>
    <div class="tgico-document"></div>
    <div class="tgico-down"></div>
    <div class="tgico-download"></div>
    <div class="tgico-eats"></div>
    <div class="tgico-edit"></div>
    <div class="tgico-eye1"></div>
    <div class="tgico-eye2"></div>
    <div class="tgico-flag"></div>
    <div class="tgico-forward"></div>
    <div class="tgico-fullscreen"></div>
    <div class="tgico-group"></div>
    <div class="tgico-help"></div>
    <div class="tgico-info"></div>
    <div class="tgico-lamp"></div>
    <div class="tgico-language"></div>
    <div class="tgico-largepause"></div>
    <div class="tgico-largeplay"></div>
    <div class="tgico-location"></div>
    <div class="tgico-lock"></div>
    <div class="tgico-logout"></div>
    <div class="tgico-menu"></div>
    <div class="tgico-message"></div>
    <div class="tgico-microphone"></div>
    <div class="tgico-more"></div>
    <div class="tgico-mute"></div>
    <div class="tgico-newchannel"></div>
    <div class="tgico-newchat_filled"></div>
    <div class="tgico-newgroup"></div>
    <div class="tgico-newprivate"></div>
    <div class="tgico-next"></div>
    <div class="tgico-pause"></div>
    <div class="tgico-permissions"></div>
    <div class="tgico-phone"></div>
    <div class="tgico-photo"></div>
    <div class="tgico-pin"></div>
    <div class="tgico-pinnedchat"></div>
    <div class="tgico-play"></div>
    <div class="tgico-radiooff"></div>
    <div class="tgico-radioon"></div>
    <div class="tgico-recent"></div>
    <div class="tgico-reply"></div>
    <div class="tgico-savedmessages"></div>
    <div class="tgico-search"></div>
    <div class="tgico-send"></div>
    <div class="tgico-send2"></div>
    <div class="tgico-sending"></div>
    <div class="tgico-sendingerror"></div>
    <div class="tgico-settings"></div>
    <div class="tgico-smallscreen"></div>
    <div class="tgico-smile"></div>
    <div class="tgico-sport"></div>
    <div class="tgico-stop"></div>
    <div class="tgico-unarchive"></div>
    <div class="tgico-unlock"></div>
    <div class="tgico-unmute"></div>
    <div class="tgico-unpin"></div>
    <div class="tgico-unreadg"></div>
    <div class="tgico-up"></div>
    <div class="tgico-user"></div>
    <div class="tgico-username"></div>
</div>
		<script src="{{ url_for('static', path='js/libs.min.js') }}"></script>
		<script src="{{ url_for('static', path='js/scripts.js') }}"></script>
	</body>
</html>